MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=rest_equipo
MYSQL_DB=rest_equipo
MYSQL_PASSWORD=CAMBIAR_EN_CONFIGURACION_LOCAL
UBIDOTS_DEVICE=equipo-rest
UBIDOTS_URL=https://industrial.api.ubidots.com
UBIDOTS_TOKEN=
